{% extends "header.html" %}


{% block content %}


<body>

</body>


<div class = "main">


<div class="row">
    <div class="col">
        <div class = "about-page">
            <h1 class = "about title" >ABOUT</h1>
            <div class = "about text">
                <p>This site is designed by Rohan Balaji, and was primarly done so to save a set of "attacks" in terms of the dnd 5th edition table top system. The site uses most of what was listed in the class CMSC388J and uses the "dice" python package to handle the "dice calculation page". The initial plan of making this assignment with a React Frontend-while possible, was becoming increasingly difficult due to time constraints. You must be logged in to use the Calculate or Register Attack feature or to see your saved attacks.</p>
            </div>
        </div>
    </div>
</div>

</div>



{% endblock %}